@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

html,
body {
    font-family: 'Poppins';
}

.navbar {
    background-color: #fff !important;
}

.search {
    background-color: #F5F5F5;
    border-color: #fff;
}

.navbar-brand {
    margin-right: 80px;
}

.form-search {
    margin-right: 50px;
}

.navbar-nav .active {
    font-family: 'Poppins';
    font-weight: 600;
    color: #414141;
}

.navbar-brand-image {
    border-radius: 50%;
}

.icon-envelope {
    padding-right: 40px;
}

.icon-bell {
    padding-right: 40px;
}

.change-search {
    height: 176px;
    background-color: #2395FF;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.btn-signup:hover {
    background: #0385ff;
    color: #fff;
}